@media screen and (max-width: 960px) {
    /*card*/
    body {
        margin: 0 auto;
        padding: 0;
        font-family: sans-serif;
        background: #fbfbfb;
    }
    .menu {
        position: fixed;
        top: 11%;
        bottom: 0;
        left: 0px;
        margin: 0 auto;
        height: 280px;
        width: 10%;
        padding: 0;
        align-content: flex-end;
        right: 89%;
    }
    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        min-height: 400px;
        background: #fff;
        box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
        border-radius: 10px;
        transition: 0.5s;
    }
    .card:hover {
        box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
    }
    .card .box {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    .card .box .img {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    }
    .card .box .img img {
        width: 100%;
    }
    .card .box h2 {
        font-size: 20px;
        color: #262626;
    }
    .card .box h2 span {
        font-size: 14px;
        background: #e91e63;
        color: #fff;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 15px;
    }
    .card .box p {
        color: #262626;
    }
    .card .box .list {
        margin: 0;
        padding: 0;
        display: flex;
    }
    .card .box .list .link {
        list-style: none;
        float: left;
    }
    .card .box .list .link a {
        display: block;
        color: #aaa;
        margin: 0 30px;
        font-size: 30px;
        transition: 0, 1s;
    }
    .card .box .list .link:hover a {
        color: #e91e63;
    }
    .project {
        position: absolute;
        top: 16%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        min-height: 220px;
        background: #fff;
        box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
        border-radius: 10px;
    }
    .projectOne {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        min-height: 220px;
        background: #fff;
        box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
        border-radius: 10px;
    }
    .projectTwo {
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        min-height: 220px;
        background: #fff;
        box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
        border-radius: 10px;
    }
    .projectThree {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 328px;
        min-height: 684px;
        background: #fff;
        box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
        border-radius: 10px;
    }
    .project:hover,
    .projectOne:hover,
    .projectTwo:hover,
    .projectThree:hover {
        box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
    }
    .project .box,
    .projectOne .box,
    .projectTwo .box {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    .project .box .img,
    .projectOne .box .img,
    .projectTwo .box .img {
        width: 140px;
        height: 59px;
        margin: 0 auto;
        border-radius: none;
        overflow: hidden;
    }
    .project .box .img img,
    .projectOne .box .img img,
    .projectTwo .box .img img {
        width: 100%;
    }
    .project .box h2,
    .projectOne .box h2,
    .projectTwo .box h2,
    .projectThree .boxOne h2 {
        font-size: 15px;
        color: #262626;
    }
    .project .box h2 span,
    .projectOne .box h2 span,
    .projectTwo .box h2 span,
    .projectThree .boxOne h2 span {
        font-size: 14px;
        background: #e91e63;
        color: #fff;
        display: inline-block;
        padding: 3px 10px;
        border-radius: 15px;
    }
    .project .box p,
    .projectOne .box p,
    .projectTwo .box p,
    .projectThree .boxOne p {
        color: #262626;
    }
    .projectThree .boxOne {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    .projectThree .text {
        text-align: start;
        text-indent: 15px;
    }
    /*page*/
    * {
        transition: all 500ms ease-out;
        -webkit-transition: all 500ms ease-out;
    }
    body,
    section,
    .page {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
        -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
        color: #fff;
        background: white;
        overflow: hidden;
    }
    .page {
        position: absolute;
    }
    #p1 {
        left: 0;
    }
    #p2 {
        left: 100%;
        background: white;
    }
    #p3 {
        left: 200%;
        background: white;
    }
    .menu {
        position: fixed;
        z-index: 1;
    }
    #t1:target .page#p1 {
        transform: translateX(0);
    }
    #t2:target .page#p2 {
        transform: translateX(-100%);
    }
    #t3:target .page#p3 {
        transform: translateX(-198%);
    }
    #t2:target .page#p1,
    #t3:target .page#p1,
    #t4:target .page#p1 {
        background: none;
    }
    .menu .listM {
        margin: 50px 0;
    }
    #icon,
    #icon1,
    #icon2 {
        color: black;
        margin: 8px;
    }
    li {
        list-style: none;
    }
    P {}
    .textStyle {
        line-height: 1em;
        font-size: 12px;
    }
}