html{
    background-color: lightgrey;
    border: 2px solid black;
    box-shadow: 2px 2px 5px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.text {
    float: left;
    text-align: center;
    max-width: 100%;
    
}

@media (min-width:960px) {
 /* .container {
   
    width: 100%;
    height: auto;
    display: flex;
} */

.text {
    float: left;
    text-align: center;
    max-width: 50%;
  
}

.image {
    float: right;
    display: block;
    max-width: 50%;
    width: auto;
}

h1 {
    text-align: center;
}
.banner {
  max-width: 1200px;
  display: auto;
  margin: 0 auto;
}
.gmail {
 background: url(gmail.png) left center;
}
}