* {
    box-sizing: border-box;
}

.container {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 2;
    grid-template-columns: repeat (auto-fit, minmax(300px, 1fr));
    grid-template-areas: "block one"
}

.block {
    align-self: stretch;
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
}

.Gmail {
    background-image: url(../images/gmail.png)
}