.ui.input.search-bar {
  border-top: 2px solid #a333c8;
  border-radius: 5px;
}
.detailsTable > div > p {
  padding: 0 10px 10px;

}
.detailsTable {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 9px 11px 23px 3px rgba(0,0,0,0.39);
}
#detailsParcel {
  padding-bottom: 90px;
}
.detailsTable > div {
  margin: 0 auto;
  padding: 5px;
  justify-content: center;
  text-align: center;
  text-justify: newspaper;
  background: rgb(251, 252, 252);
  border: 1px solid #a333c8;
  border-right: 0;
}
.detailsTable > div:last-child {
  border-right: 1px solid #a333c8;
}


@media (max-width: 540px) {
  .detailsTable {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .detailsTable > div {
    width: 100%;
    justify-content: center;
    border: 1px solid #a333c8;
    border-bottom: 0;
  }
  .detailsTable > div:last-child {
    border-bottom: 1px solid #a333c8;
  }
}
