
.sendParcel_div--pickerandpopup {
    display:flex;
    margin:  0 5px 5px;
}
.sendParcel_div--pickerandpopup div {

    margin:  0 5px;
}


@media only screen and (max-width: 767px) {
.book__button--hide {
    display:none;
}
}