.signUp {
    background: rgb(241, 241, 241);
}

.signUpForm {
    width: 500px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 10px;
}

#termsnConditions {
    cursor: pointer;
    color: rgba(0, 0, 0, .87);
    width: 17px;
    height: 17px;
    border: 1px solid #d4d4d5;
    margin-right: 0.5em;
}

#termsnConditionsLabel {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
}

.signUp .submitButtonSignUp {
    width: 100px;
    background: #a333c8;
}

#requiredStar {
    color: red;
}

.ui.animated.button {
    background: #a333c8;
    width: 100px;
    color: rgba(0, 0, 0, .6);
}

.signUpFormMenuIcon {
    height: 100px;
    padding-top: 5px;
    margin: 0 auto;
    display: flex;
}

.signUpFormMenuButtons {
    padding-left: 10px;
}

.signUpFormMenuErrorMessage {
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .signUpForm {
       
        width: 350px;
    }
    .signUp {
        width: 100%;
        height: 100%;
        padding-left: 5px;
        
        padding-right: 5px;
    }
    .signUpFormMenuIcon {
        height: 100px;
        padding-top: 5px;
    }
    .signUpFormMenuErrorMessage {
        padding-top: 5px;
    }
    
}