.Dashboard {
    padding: 10px;
}
.Dashboard .field {
    width: unset !important;
}

.Dashboard .fields {
    flex-wrap: wrap;
}
.dashboard-interface {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.dashboard-interface div {
    margin:  0 5px;
}
.dashboard-interface div > div{
    margin: 0;
    max-width: 100%;
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
}

.pagination {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:600px){
    .dashboard-interface {
        justify-content: center;
        flex-direction: column;
        align-content: center;
        width:100%;
    }
    .dashboard-interface div{
        align-content: center;
        width:100%;
        margin-bottom: 5px;
    }
    .dashboard-interface div button{
        
        align-content: center;
        width:100%;
    }
    .pagination {
        max-width: 300px;
        margin: 0 auto;
    }
}


