.MainMessage {
    word-wrap: break-word;
    width: 510px;
    position: relative;
    padding: 10px 10px 10px 20px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, .05);
    text-align: left;
    line-height: 1.7;
    
    
}

.MainMessage:nth-child(even) {
    background-color: rgba(0, 0, 0, .025);
   
}

.message__author {
    font-weight: 600;
    margin-right: 10px;
    color: rgba(0, 0, 0, 1);
}
.form__message {
    overflow-y: scroll;
    width: 100%;
    padding: 0 20px;
    height: 510px;
}

@media only screen and (max-width: 767px) { 
    .MainMessage {
        word-wrap: break-word;
        width: 300px;
        position: relative;
        padding: 10px 10px 10px 10px;
        font-size: 12px;
        background-color: rgba(0, 0, 0, .05);
        text-align: left;
        line-height: 1.7;
        
        
    }
    
    .MainMessage:nth-child(even) {
        background-color: rgba(0, 0, 0, .025);
       
    }
    
    .message__author {
        font-weight: 500px;
        margin-right: 10px;
        color: rgba(0, 0, 0, 1);
    }
    .form__message , ::-webkit-scrollbar {
       
        
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: hide;
        width: 100%;
        padding: 0 20px;
        height: 400px;
    }
   /*
   */
}
